@model IEnumerable<RentaCar.RealEstateManager.Database.Data.Entities.User>

@{
    ViewData["Title"] = "Users List";
}

<h2>Users List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>UserName</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
