@using RentaCar.RealEstateManager.Database.Data.Entities
@model IEnumerable<Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
<<<<<<< Updated upstream
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassangerSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassangerSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pk">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pk">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pk">Delete</a>
            </td>
        </tr>
}
=======
            <th>Year</th>
            <th>Seats</th>
            <th>Available</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.PricePerDay</td>
                <td>@car.Year</td>
                <td>@car.PassangerSeats</td>
                <td>@(car.IsAvailable ? "Yes" : "No")</td>
                <td>
                    @if (!string.IsNullOrEmpty(car.Picture))
                    {
                        <img src="~/upload/@car.Picture" alt="Car Image" width="100" height="100" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.Pk" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@car.Pk" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@car.Pk" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
>>>>>>> Stashed changes
    </tbody>
</table>
